---
layout: default
---
<p><span class="publication-title">Comparative analysis of chicken chromosome 28 provides new clues to the evolutionary fragility of gene-rich vertebrate regions. </span><span class="publication-authors">Gordon L, Yang S, Tran-Gyamfi M, Baggott D, Christensen M, Hamilton A, Crooijmans R, Groenen M, Lucas S, Ovcharenko I, Stubbs L. 2007. Genome Research 17(11): 1603-13.</span></p>

<p><span class="publication-title">A comprehensive catalog of human KRAB-associated zinc finger genes: Insights into the evolutionary history of a large family of transcriptional repressors</span><span class="publication-authors">. Huntley S, Baggott DM, Hamilton AT, Tran-Gyamfi M, Yang S, Kim J, Gordon L, Branscomb E, Stubbs L. 2006. Genome Research 16(5): 669-677.</span></p>

<p><span class="publication-title">Evolutionary expansion and divergence in the ZNF91 subfamily of primate-specific zinc finger genes</span><span class="publication-authors">. Hamilton AT, Huntley S, Tran-Gyamfi M, Baggott DM, Gordon L, Stubbs L. 2006. Genome Research 16(5): 584-594.</span></p>

<p><span class="publication-title">The yeast clathrin adaptor protein complex 1 is required for the efficient retention of a subset of late Golgi membrane proteins</span><span class="publication-authors">. Valdivia RH, Baggott D, Chuang JS, Schekman RW. 2002. Developmental Cell 2(3):283-94.</span></p>

<p><span class="publication-title">Repression of yeast Ste12 transcription factor by direct binding of unphosphorylated Kss1 MAPK and its regulation by the Ste7 MEK</span><span class="publication-authors">. Bardwell L, Cook JG, Voora D, Baggott DM, Martinez AR, Thorner J. 1998. Genes &amp; Development 12(18): 2887–2898.</span></p>

<p><span class="publication-title">Cloning, sequencing and expression of a full-length cDNA copy of the M1 double-stranded RNA virus from the yeast, Saccharomyces cerevisiae</span><span class="publication-authors">. Russell PJ, Bennett AM, Love Z, Baggott DM. 1997. Yeast 13(9):829-36.</span></p><div>